* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#root {
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#root h2 {
  font-size: 4rem;
  padding: 4rem;
}

.button-gen, .back {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: yellowgreen;
  text-decoration: none;
  color: white;
}

.back {
  margin-top: 3rem;
  background-color: transparent;
  border: 1px solid;
  color: black;
}

.error {
  width: 100%;
  height: 20vh;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 8rem;
}

#container-buttons {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

#container-pokemons {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin: 3rem;
  gap: 1rem;
  justify-items: center;
}

#card {
  min-width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
}
#card img {
  width: 150px;
}
#card span {
  font-weight: 900;
  color: white;
}
#card h1 {
  text-transform: capitalize;
  font-size: 2rem;
  color: white;
}
#card div {
  margin-top: 1rem;
  gap: 1rem;
  display: flex;
}
#card div button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 10px;
  text-transform: capitalize;
}
#card a {
  margin: 0.5rem 0;
  color: white;
}

#btn-type {
  border: none;
  color: white;
  border: 2px solid;
}

.steel {
  background-color: #60a1b8;
}

.water {
  background-color: #2980ef;
}

.bug {
  background-color: #91a119;
}

.dragon {
  background-color: #5061e1;
}

.electric {
  background-color: #fac000;
}

.ghost {
  background-color: #704170;
}

.fire {
  background-color: #e62829;
}

.fairy {
  background-color: #f170f1;
}

.ice {
  background-color: #3fd8ff;
}

.fighting {
  background-color: #ff8000;
}

.normal {
  background-color: #9fa19f;
}

.grass {
  background-color: #3fa129;
}

.psychic {
  background-color: #f04179;
}

.rock {
  background-color: #afa981;
}

.dark {
  background-color: #50413f;
}

.ground {
  background-color: #915121;
}

.poison {
  background-color: #9141cb;
}

.flying {
  background-color: #81b9ef;
}

#pokemon-individual {
  margin-top: 2rem;
  width: 80%;
  box-shadow: 0px 0px 2px black;
  border-radius: 10%;
  padding: 0 2rem;
}
#pokemon-individual h1 {
  font-size: 3rem;
  padding: 2rem;
  text-transform: capitalize;
  color: white;
}
#pokemon-individual #container-pokemon {
  display: flex;
  align-items: center;
  justify-content: center;
}
#pokemon-individual #container-pokemon #info-pokemon {
  width: 50%;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 30px;
  gap: 1rem;
  display: flex;
  margin: 2rem 0;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0px 0px 10px black;
}
#pokemon-individual #container-pokemon #info-pokemon ul {
  list-style: none;
}
#pokemon-individual #container-pokemon #info-pokemon ul li {
  text-transform: capitalize;
}
#pokemon-individual #container-pokemon #info-pokemon button {
  padding: 0.5rem;
  border-radius: 30px;
  text-transform: capitalize;
}
#pokemon-individual #container-pokemon #img-pokemon {
  width: 50%;
  height: 100%;
}
#pokemon-individual #container-pokemon #img-pokemon img {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
