$STEEL: #60a1b8;
$WATER: #2980ef;
$BUG: #91a119;
$DRAGON: #5061e1;
$ELECTRIC: #fac000;
$GHOST: #704170;
$FIRE: #e62829;
$FAIRY: #f170f1;
$ICE: #3fd8ff;
$FIGTHING: #ff8000;
$NORMAL: #9fa19f;
$GRASS: #3fa129;
$PSYCHIC: #f04179;
$ROCK: #afa981;
$DARK: #50413f;
$GROUND: #915121;
$POISON: #9141cb;
$FLYING: #81b9ef;

#btn-type {
    border: none;
    color: white;
    border: 2px solid;
}

.steel {
    background-color: $STEEL;
}

.water {
    background-color: $WATER;
}

.bug {
    background-color: $BUG;
}

.dragon {
    background-color: $DRAGON;
}

.electric {
    background-color: $ELECTRIC;
}

.ghost {
    background-color: $GHOST;
}

.fire {
    background-color: $FIRE;
}

.fairy {
    background-color: $FAIRY;
}

.ice {
    background-color: $ICE;
}

.fighting {
    background-color: $FIGTHING;
}

.normal {
    background-color: $NORMAL;
}

.grass {
    background-color: $GRASS;

}

.psychic {
    background-color: $PSYCHIC;
}

.rock {
    background-color: $ROCK;
}

.dark {
    background-color: $DARK;
}

.ground {
    background-color: $GROUND;
}

.poison {
    background-color: $POISON;
}


.flying {
    background-color: $FLYING;
}